# Shell Aliases
# This file is managed by the dotfiles repository
# It is symlinked to ~/.aliases and sourced by ~/.zshrc

# File listing aliases
alias lt='ls -lt'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Tool aliases
alias dc='docker compose'
